:root {
    --primary: rgb(228, 103, 20); /* Primary color */
    --primary-dark:  rgb(122, 49, 0); /* Darker shade of primary color */
    --white: #ffffff;
    --black: #000000;
    --gray-4: #dee2e6;
    --dark-3: #6c757d;
    --light-2: #f8f9fa;
  }
  
  /* ===== Buttons Css ===== */
  
  .primary-btn {
      margin-top: 20px;
      background: var(--primary);
      color: var(--white);
      box-shadow: var(--shadow-2);
    }
    .active.primary-btn, .primary-btn:hover, .primary-btn:focus {
      background: var(--primary-dark);
      color: var(--white);
      box-shadow: var(--shadow-4);
    }
    .deactive.primary-btn {
      background: var(--gray-4);
      color: var(--dark-3);
      pointer-events: none;
    }
    
    .primary-btn-outline {
      margin-top: 20px;
      border-color: var(--primary);
      color: var(--primary);
    }
    .active.primary-btn-outline, .primary-btn-outline:hover, .primary-btn-outline:focus {
      background: var(--primary-dark);
      color: var(--white);
    }
    .deactive.primary-btn-outline {
      color: var(--dark-3);
      border-color: var(--gray-4);
      pointer-events: none;
    }
   
    
    /*===========================
      NAVBAR css 
    ===========================*/
    .navbar-toggler:focus {
      box-shadow: none;
    }
    
    .mb-100 {
      margin-bottom: 100px;
    }
    
    /*===== NAVBAR ONE =====*/
    .navbar-one {
      position: sticky; /* Makes the navbar sticky */
      top: 0; /* Sticks the navbar at the top of the viewport */
      z-index: 999; /* Ensures it appears above other content */
      background: var(--primary); /* Ensures the background is consistent when scrolling */
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one {
        padding: 20px 0;
      }
    }
    .navbar-one .navbar {
      position: relative;
      padding-left: 100px; /* Ensure padding to account for the logo space */
  
    }
  
    .navbar-brand-logo {
      position: absolute;
      left: 0;
      margin-left: 20px;/* Adjust this value if you want more space from the edge */
  }
    .navbar-one .navbar .navbar-toggler .toggler-icon {
      width: 30px;
      height: 2px;
      background-color: var(--white);
      margin: 5px 0;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }
    .navbar-one .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px;
    }
    .navbar-one .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
      opacity: 0;
    }
    .navbar-one .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
      top: -7px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-collapse {
        position: absolute;
        top: 140%;
        left: 0;
        width: 100%;
        background-color: var(--primary);
        z-index: 8;
        padding: 10px 0;
        border-radius: 0 0 5px 5px;
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item {
      margin: 0 5px;
      position: relative;
    }
    .navbar-one .navbar .navbar-nav .nav-item a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      padding: 28px 15px;
      color: var(--white);
      text-transform: capitalize;
      position: relative;
      display: flex;
      align-items: center;
      z-index: 0;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }
    .navbar-one .navbar .navbar-nav .nav-item a::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 100%;
      width: 0%;
      background-color: var(--white);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }
    .navbar-one .navbar .navbar-nav .nav-item a.active::before {
      opacity: 0.1;
      visibility: visible;
      width: 100%;
    }
    .navbar-one .navbar .navbar-nav .nav-item a:hover::before {
      opacity: 0.1;
      visibility: visible;
      width: 100%;
    }
    .navbar-one .navbar .navbar-nav .nav-item a i {
      font-weight: 700;
      padding-left: 8px;
      font-size: 14px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item a {
        padding: 10px 10px;
        display: block;
      }
      .navbar-one .navbar .navbar-nav .nav-item a::before {
        border-radius: 5px;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item {
        margin-bottom: 5px;
      }
      .navbar-one .navbar .navbar-nav .nav-item:last-child {
        margin-bottom: 0;
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu {
      position: absolute;
      left: 0;
      top: 100%;
      width: 260px;
      background-color: var(--white);
      box-shadow: var(--shadow-4);
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      z-index: 99;
      padding: 10px;
    }
    /* Remove bullet points from sub-menu */
  .navbar-nav .nav-item .sub-menu {
    list-style-type: none; /* This removes the bullets */
    padding-left: 0; /* Optional: This removes any default padding */
    margin: 0; /* Optional: This removes any margin */
  }
  .navbar-brand-logo {
    position: relative; /* Change from absolute to relative */
    margin-left: 0; /* Remove extra left margin */
    padding-left: 0; /* Remove padding to align it to the edge */
  }
  
  
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        top: auto !important;
        opacity: 1 !important;
        visibility: visible !important;
        right: auto;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: all none ease-out 0s;
        -moz-transition: all none ease-out 0s;
        -ms-transition: all none ease-out 0s;
        -o-transition: all none ease-out 0s;
        transition: all none ease-out 0s;
        box-shadow: none;
        text-align: left;
        border-top: 0;
        height: 0;
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
      height: auto;
      display: block;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
        height: 0;
        display: none;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu.show {
        height: auto;
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li {
      position: relative;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a {
        border-radius: 5px !important;
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 24px;
      font-weight: 500;
      position: relative;
      color: var(--dark);
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      z-index: 5;
      text-transform: capitalize;
      border-radius: 5px;
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a:hover {
      background-color: var(--primary);
      color: var(--white);
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a::before {
      display: none;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a:hover {
        background-color: var(--primary-dark);
        color: var(--white);
      }
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a i {
        color: var(--primary-dark);
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
      }
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a:hover i {
        color: var(--white);
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a i {
      font-size: 14px;
      font-weight: 700;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a i {
        display: none;
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i {
      display: inline-block;
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
      right: auto;
      left: 100%;
      top: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
        margin-left: 10px;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
        padding-left: 30px;
        height: 0;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-menu li .sub-menu.show {
        visibility: visible;
        height: auto;
        position: relative;
      }
    }
    .navbar-one .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
    .navbar-one .navbar .navbar-nav .nav-item:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
      .navbar-one .navbar .navbar-nav .nav-item .sub-nav-toggler {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 14px;
        font-size: 16px;
        background: none;
        border: 0;
        color: var(--white);
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-one .navbar .navbar-btn {
        position: absolute;
        right: 70px;
        top: 3px;
      }
    }
    @media (max-width: 767px) {
      .navbar-one .navbar .navbar-btn {
        position: absolute;
        right: 60px;
        top: 3px;
      }
    }
    .navbar-one .navbar .navbar-btn ul {
      display: flex;
    }
    .navbar-one .navbar .navbar-btn ul li {
      display: inline-block;
      margin-right: 12px;
    }
    .navbar-one .navbar .navbar-btn ul li a {
      font-weight: 600;
      text-transform: capitalize;
      letter-spacing: 0;
    }
    .navbar-one .navbar .navbar-btn ul li a.primary-btn-outline {
      border-color: var(--white);
      color: var(--white);
    }
    .navbar-one .navbar .navbar-btn ul li a.primary-btn-outline:hover {
      background-color: var(--white);
      color: var(--primary);
    }
    .navbar-one .navbar .navbar-btn ul li a.primary-btn {
      background-color: var(--white);
      color: var(--primary);
      border-color: var(--white);
    }
    .navbar-one .navbar .navbar-btn ul li a.primary-btn:hover {
      background-color: transparent;
      color: var(--white);
    }
  
  
    /* ===== Buttons Css ===== */
  .header-one .header-content-area .primary-btn-outline {
    border-color: var(--primary);
    color: var(--primary);
  }
  .header-one .header-content-area .active.primary-btn-outline, .header-one .header-content-area .primary-btn-outline:hover, .header-one .header-content-area .primary-btn-outline:focus {
    background: var(--primary-dark);
    color: var(--white);
  }
  .header-one .header-content-area .deactive.primary-btn-outline {
    color: var(--dark-3);
    border-color: var(--gray-4);
    pointer-events: none;
  }
  
  /*===== HEADER ONE =====*/
  .header-one {
    margin-top: 20px;
    position: relative;
  }
  .header-one .header-content-area {
    
    position: relative;
    padding: 150px 100px 500px 100px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-one .header-content-area {
      padding: 100px 0;
    }
  }
  @media (max-width: 767px) {
    .header-one .header-content-area {
      padding: 60px 0;
    }
  }
  @media only screen and (min-width: 1400px) {
    .header-one .header-content-area {
      height: 900px;
    }
  }
  @media (max-width: 767px) {
    .header-one .header-content-area {
      height: 550px;
    }
  }
  .header-one .header-content-area .primary-btn-outline {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--primary);
  }
  .header-one .header-content-area .primary-btn-outline:hover {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
  }
  .header-one .header-wrapper {
    position: relative;
  }
  .header-one .header-content {
    max-width: 540px;
    position: relative;
    z-index: 5;
  }
  .header-one .header-title {
    color: var(--white);
    font-weight: 800;
    font-size: 80px;
  }
  .header-one .text-lg {
    color: var(--white);
    font-weight: 300;
    margin-top: 16px;
    font-size: 24px;
  }
  .header-one .header-btn {
    margin-top: 40px;
  }
  .header-one .header-image {
    text-align: center;
  }
  .header-one .header-image .image {
    max-width: 730px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .header-one .header-image .image {
      max-width: 600px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-one .header-image .image {
      max-width: 550px;
    }
  }
  .header-one .header-image .image img {
    width: 100%;
  }
  .header-one .header-shape {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .header-one .header-shape img {
    width: 100%;
  }
  
  
    /* ===== Buttons Css ===== */
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn {
    background: var(--primary);
    color: var(--white);
    box-shadow: var(--shadow-2);
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .active.primary-btn, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:hover, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:focus {
    background: var(--primary-dark);
    color: var(--white);
    box-shadow: var(--shadow-4);
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .deactive.primary-btn {
    background: var(--gray-4);
    color: var(--dark-3);
    pointer-events: none;
  }
  
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline {
    border-color: var(--primary);
    color: var(--primary);
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .active.primary-btn-outline, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:hover, .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:focus {
    background: var(--primary-dark);
    color: var(--white);
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .deactive.primary-btn-outline {
    color: var(--dark-3);
    border-color: var(--gray-4);
    pointer-events: none;
  }


  
  
  /*===== SLIDER ONE =====*/

  .slider-one .bd-example .carousel .carousel-inner .carousel-item {
    height: auto;
    padding: 300px 0;
    position: relative;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item {
      padding: 200px 0;
    }
  }
  @media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item {
      padding: 150px 0;
    }
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    opacity: 0.2;
  }
  @media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item {
      height: 400px;
    }
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    left: 0;
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
    font-size: 44px;
    font-weight: 700;
    color: var(--white);
    line-height: 55px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
      font-size: 35px;
      line-height: 42px;
    }
  }
  @media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .text {
    color: var(--white);
    display: block;
    margin: 20px 0;
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
    display: inline-block;
    margin: 16px 8px 0;
  }
  @media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
      margin: 16px 3px 0;
    }
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn {
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid transparent;
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn:hover {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline {
    border-color: var(--white);
    color: var(--white);
  }
  .slider-one .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li .primary-btn-outline:hover {
    border-color: transparent;
    background-color: var(--white);
    color: var(--primary);
  }
  .slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
    top: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid var(--white);
    font-size: 20px;
    color: var(--white);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    left: 30px;
    opacity: 1;
    z-index: 99;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
  }
  .slider-one .bd-example .carousel .carousel-control-prev:hover, .slider-one .bd-example .carousel .carousel-control-next:hover {
    background-color: var(--white);
    color: var(--primary);
    border-color: transparent;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
      left: 30px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
      left: 30px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  }
  @media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-control-prev, .slider-one .bd-example .carousel .carousel-control-next {
      left: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }
  .slider-one .bd-example .carousel .carousel-control-next {
    right: 30px;
    left: auto;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-one .bd-example .carousel .carousel-control-next {
      right: 40px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-control-next {
      right: 40px;
    }
  }
  @media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-control-next {
      right: 20px;
    }
  }
  .slider-one .bd-example .carousel .carousel-indicators {
    margin-bottom: 50px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-one .bd-example .carousel .carousel-indicators {
      margin-bottom: 40px;
    }
  }
  @media (max-width: 767px) {
    .slider-one .bd-example .carousel .carousel-indicators {
      margin-bottom: 30px;
    }
  }
  .slider-one .bd-example .carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 50px;
    border: 0;
    margin: 0px 5px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
  }
  .slider-one .bd-example .carousel .carousel-indicators li.active {
    width: 20px;
    background-color: var(--white);
    border-radius: 5px;
  }
  .slider-one .bd-example .carousel .carousel-indicators li:hover {
    opacity: 1;
  }
  
  /*===== FOOTER ONE =====*/
  .footer-one {
    background-color: lightgray;
  }
  .footer-one .footer-logo {
    margin-top: 70px;
  }
  /*gpt start*/
  
  .footer-widget {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Added for better spacing between columns */
  }
  
  .footer-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left:-25px;
  }
  
  .footer-contact ul li {
    margin-bottom: 10px; /* Adds space between each contact detail */
    
  }
  
  .footer-contact ul li a {
    color: var(--primary);
    text-decoration: none;
    
  }
  
  .footer-contact ul li a:hover {
    text-decoration: underline;
  }
  
  /* Ensure other sections maintain consistent styling */
  .footer-link ul li {
    margin-bottom: 10px;
    
  }
  
  .footer-link ul {
    padding: 0;
    list-style: none;
  }
  
  .footer-link ul li a {
    color: var(--dark-3);
    text-decoration: none;
  }
  
  .footer-link ul li a:hover {
    color: var(--primary);
  }
  
  .f-about p {
    margin-top: 10px;
  }
  
  /*gpt end*/
  .footer-one .footer-widget {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-one .footer-widget {
      padding-top: 40px;
      padding-bottom: 70px;
    }
  }
  @media (max-width: 767px) {
    .footer-one .footer-widget {
      padding-top: 20px;
      padding-bottom: 50px;
    }
  }
  .footer-one .footer-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: var(--black);
    position: relative;
  }
  .footer-one .footer-app-store {
    padding-top: 22px;
  }
  .footer-one .footer-app-store .download-title {
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    color: var(--dark-1);
  }
  .footer-one .footer-app-store li {
    display: inline-block;
    margin-right: 8px;
  }
  .footer-one .footer-app-store li img {
    max-width: 140px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-one .footer-app-store li {
      margin-right: 6px;
    }
  }
  .footer-one .footer-app-store li:last-child {
    margin-right: 0;
  }
  @media (max-width: 767px) {
    .footer-one .footer-app-store li {
      width: 120px;
      display: block;
      margin-bottom: 10px;
    }
    .footer-one .footer-app-store li:last-child {
      margin: 0;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-one .footer-app-store li {
      width: auto;
    }
  }
  .footer-one .footer-app-store li a {
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  .footer-one .footer-app-store li a:hover {
    box-shadow: var(--shadow-4);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .footer-one .f-about {
    margin-top: 30;
  }
  .footer-one .f-about .text {
    margin-top: 20px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
    .footer-one .f-about {
      padding-right: 200px;
    }
  }
  .footer-one .footer-link {
    margin-top: 30px;
  }
  .footer-one .footer-link ul {
    margin-top: 8px;
  }
  .footer-one .footer-link ul a {
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-3);
    margin-top: 16px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  @media (max-width: 767px) {
    .footer-one .footer-link ul a {
      margin-top: 12px;
    }
  }
  .footer-one .footer-link ul a:hover {
    color: var(--primary);
  }
  .footer-one .footer-contact {
    margin-top: 30px;
  }
  .footer-one .footer-contact ul {
    margin-top: 24px;
  }
  .footer-one .footer-contact ul li {
    display: block;
    margin-top: 15px;
    position: relative;
    padding-left: 24px;
    color: var(--dark-3);
  }
  .footer-one .footer-contact ul li:first-child {
    margin: 0;
  }
  .footer-one .footer-contact ul li i {
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 4px;
  }
  .footer-one .footer-copyright {
    border-top: 1px solid var(--gray-4);
  }
  .footer-one .copyright {
    padding-bottom: 23px;
    padding-top: 13px;
  }
  .footer-one .copyright .text {
    color: var(--dark-3);
    margin-top: 10px;
  }
  .footer-one .social {
    margin-top: 10px;
  }
  .footer-one .social li {
    display: inline-block;
    margin-right: 15px;
  }
  .footer-one .social li:last-child {
    margin-right: 0;
  }
  .footer-one .social li a {
    font-size: 18px;
    color: var(--dark-3);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .footer-one .social li a:hover {
    color: var(--primary);
  }
  
   
  body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    background-image: url('../../assets/images/image.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
    }
    
    html {
      scroll-behavior: smooth;
    }
    
  
    .background-container {
  
      /*--background: url('ing1_bg.jpg') no-repeat center center;*/ /* Replace with the correct image path */
    
      margin-top: 30px;
      margin-bottom: 30px;
      background-size: cover;
      padding: 50px 0; /* Adjust the padding if needed */
    }
    
    .holder {
  
      border-radius: 5px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
      padding: 30px 0px 0px 100px;
      width: 400px;
      margin: 0 auto;
    }
    .background-container .holder td{
      color:black;
      font-weight: bold;
    }
    
  td{
    border-bottom:1px solid #f6f6f6;
    padding:5px 10px;
    color:white
  }
  td:nth-child(2){
    text-align: right;
    width: 40px;
  }
  tr:last-child td{
    border:none;
    padding:30px 10px 10px;
    text-align: center;
  }
  input[type=checkbox] {
    cursor: pointer;
    height: 30px;
    margin:4px 0 0;
    position: absolute;
    opacity: 0;
    width: 30px;
    z-index: 2;
  }
  input[type=checkbox] + span {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px gray;
    display: inline-block;
    height: 30px;
    margin:4px 120px 0 0;
    position:relative;
    width: 30px;
    transition: all .2s ease;
  }
  input[type=checkbox] + span::before, input[type=checkbox] + span::after{
    background:#fff;
    content:'';
    display:block;
    position:absolute;
    width:4px;
    transition: all .2s ease;
  }
  input[type=checkbox] + span::before{
    height:16px;
    left:13px;
    top:7px;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }
  input[type=checkbox] + span::after{
    height:16px;
    right:13px;
    top:7px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
  }
  input[type=checkbox]:checked + span {
    background: var(--primary)       
  }
  input[type=checkbox]:checked + span::before{
    height: 9px;
    left: 9px;
    top: 13px;
    -webkit-transform:rotate(-47deg);
    transform:rotate(-47deg);
  }
  input[type=checkbox]:checked + span::after{
    height: 15px;
    right: 11px;
    top: 8px;
  }
  input[type=submit] {
    background-color: var(--primary);
    border: 0;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size:16px;
    text-align: center;
    padding: 12px 20px 14px;
  }
  
  /* General styling for the section */
  .section-title-one {
    background-color: #f8f9fa; /* Light background color */
    padding: 60px 0; /* Vertical padding */
  }
  
  /* Container class to center content and limit width */
  .container {
    max-width: 1200px; /* Sets a maximum width */
    margin: 0 auto; /* Centers the container */
    padding: 0 15px; /* Horizontal padding */
  }
  
  /* Row styling */
  .row {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
  }
  
  /* Column styling */
  .col-lg-12 {
    flex: 0 0 100%; /* Full-width column */
    max-width: 100%;
  }
  
  /* Center-align text inside the section */
  .text-center {
    text-align: center;
  }
  
  
  
  
  /* Styling for the content div */
  .content {
    margin: 0 auto; /* Center the content */
  }
  
  /* Title styling (h1) */
  h1.fw-bold {
    font-size: 48px; /* Make the title large */
    font-weight: 700; /* Bold font weight */
    color: #333; /* Darker color for the title */
    margin-bottom: 20px; /* Space below the title */
  }
  
  /* Paragraph styling (p) */
  .content p {
    font-size: 18px; /* Larger font size for readability */
    color: #666; /* Lighter color for paragraph text */
    line-height: 1.6; /* Better line spacing */
    max-width: 700px; /* Limits paragraph width for better readability */
    margin: 0 auto; /* Centers the paragraph */
  }
  
   
   /*===========================
      clients-01 css 
  ===========================*/
  .client-logo-area .section-title-two {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .client-logo-area .section-title-two {
      margin-bottom: 45px;
    }
  }
  @media (max-width: 767px) {
    .client-logo-area .section-title-two {
      margin-bottom: 35px;
    }
  }
  .client-logo-area .section-title-two span {
    text-transform: capitalize;
    color: var(--white);
    background: var(--primary);
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 15px;
    border-radius: 4px;
  }
  .background-container .section-title-two h2{
    color:white;
    font-weight: bold;
  }
  .background-container .section-title-two p{
    color:black;
    font-weight: bold;
  }
  .client-logo-area .section-title-two h2 {
    margin-bottom: 15px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .client-logo-area .section-title-two h2 {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
  @media (max-width: 767px) {
    .client-logo-area .section-title-two h2 {
      font-size: 1.5rem;
      line-height: 1.9rem;
    }
  }
  .client-logo-area .section-title-two p {
    color: var(--dark-3);
  }
  
  /*===== Client Logo One =====*/
  .client-logo-one {
    background-color: #f0f0f0; /* Use a different color to separate it */
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .client-logo-one .single-client {
    margin-top: 30px;
  }
   
  /*===== TESTIMONIAL STYLE ONE =====*/
  .testimonial-one {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--light-2);
    /* Section Title Seven */
  }
  .testimonial-one .section-title-seven {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-one .section-title-seven {
      margin-bottom: 45px;
    }
  }
  @media (max-width: 767px) {
    .testimonial-one .section-title-seven {
      margin-bottom: 35px;
    }
  }
  .testimonial-one .section-title-seven span {
    text-transform: uppercase;
    color: var(--primary);
    display: inline-block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
  }
  .testimonial-one .section-title-seven h5 {
    font-weight: 600;
    margin-bottom: 7px;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1rem;
  }
  @media (max-width: 767px) {
    .testimonial-one .section-title-seven h5 {
      font-size: 0.8rem;
    }
  }
  .testimonial-one .section-title-seven h2 {
    margin-bottom: 18px;
    position: relative;
    padding-bottom: 15px;
  }
  .testimonial-one .section-title-seven h2::before {
    position: absolute;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    height: 3px;
    width: 50px;
    background-color: var(--primary);
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-one .section-title-seven h2 {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }
  @media (max-width: 767px) {
    .testimonial-one .section-title-seven h2 {
      font-size: 1.5rem;
      line-height: 1.9rem;
    }
  }
  .testimonial-one .section-title-seven p {
    color: var(--dark-3);
  }
  .testimonial-one .testimonial-one-active {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  .testimonial-one .testimonial-one-wrapper {
    position: relative;
  }
  .testimonial-one .testimonial-one-wrapper .tns-nav {
    position: absolute;
    z-index: 2;
    bottom: -40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial-one .testimonial-one-wrapper .tns-nav button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 0.3;
    border: 0;
    margin: 0 3px;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
  }
  .testimonial-one .testimonial-one-wrapper .tns-nav button.tns-nav-active {
    opacity: 1;
  }
  .testimonial-one .single-testimonial {
    margin-top: 30px;
    margin-right: 30px;
    padding: 30px;
    background-color: var(--white);
    border: 1px solid var(--gray-4);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    
  }
  .testimonial-one .single-testimonial::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: var(--primary);
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
  }
  .testimonial-one .single-testimonial:hover::before {
    width: 100%;
  }
  .testimonial-one .single-testimonial .testimonial-image {
    position: relative;
    display: inline-block;
  }
  .testimonial-one .single-testimonial .testimonial-image img {
  
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
  }
  .testimonial-one .single-testimonial .testimonial-image .quote-icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .testimonial-one .single-testimonial .testimonial-content {
    padding-top: 30px;
  }
  .testimonial-one .single-testimonial .testimonial-content .text {
    color: var(--dark-3);
  }
  .testimonial-one .single-testimonial .testimonial-content .author-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    margin-top: 24px;
  }
  .testimonial-one .single-testimonial .testimonial-content .sub-title {
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-3);
  }

  /*Ingredients table*/
/* General Styling */
.background-container {
  padding: 20px;
}

.section-title-two .content {
  margin-bottom: 20px;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ingredients Grid */
.ingredients-grid {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;

  max-width: 900px;
  margin-bottom: 20px;
  justify-items: center;
}

.ingredients-grid label {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  padding-left: 8px;
  border-radius: 8px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.ingredients-grid .label span{
  gap: 0px;
  font-size: 20px;
  padding-right: 10px;

}

.ingredients-grid input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  vertical-align: middle; /* Ensures checkbox aligns with text */
}

/* Buttons Wrapper */
.buttons-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .section-title-two .content h2 {
     font-size: 1.5rem;
  }

  .ingredients-grid label {
     font-size: 0.9rem;
  }

  .buttons-wrapper .btn {
     padding: 10px 20px;
     font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .ingredients-grid {
     grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .buttons-wrapper .btn {
     width: 100%;
  }
}

